@import "~@blueprintjs/core/lib/scss/variables";

.controls {
  display: flex;
  justify-content: space-between;
  padding: 0 $pt-grid-size / 2 $pt-grid-size $pt-grid-size / 2;
}

.control {
  display: flex;
  overflow: hidden;
  width: 33%;
  justify-content: center;
  * {
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.leftInner, .rightInner {
  opacity: 0.3;
}

.hidden {
  visibility: hidden;
}